.navbar-brand span{
  color: #f9b03d;
}

.btn-primary{
  background-color: #f9b03d;
  border-color: #f9b03d;
  border-radius: 40px;
  width: 200px;
}

.btn-primary:hover {
  background-color: #e29d2f;
  border-color: #c98a26;

}



.btn-secondary{
  background-color: #128bbb;
  border-color: #128bbb;
  border-radius: 40px;
  width: 200px;
}

.btn-secondary:hover {
  background-color: #0e64aa;
}

.carousel-caption {
  transform: translateY(-200px);
}


.carousel-caption p{
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px black;
}


.carousel-caption h5{
  font-size: 4rem;
  text-shadow: 2px 2px 4px black;
}


.quienes {
  margin-top: 2rem;

}

.card{
  cursor: pointer;
  overflow: hidden;
}

.card img{
  transition: .5s;
}

.card:hover img {
  transform: scale(1.1);
}

.card-text {
  color: #f9b03d;
  font-weight: 800;
}

.quienes, .comidas{
  margin-top: 2rem;
}


.comidas{
  background-color: rgb(184, 183, 183);
  padding: 2rem;
}